<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<configuration>
	<feature automatic="selected" name="SWAS"/>
	<feature automatic="selected" manual="selected" name="Base"/>
	<feature name="Location"/>
	<feature name="UK"/>
	<feature name="NL"/>
	<feature name="Events"/>
	<feature name="Flooding"/>
	<feature name="Thunderstorm"/>
	<feature name="Earthquake"/>
	<feature manual="selected" name="Notifications"/>
	<feature name="SMS"/>
	<feature name="Bluetooth"/>
	<feature name="Push"/>
	<feature automatic="selected" name="Type"/>
	<feature automatic="unselected" name="Client"/>
	<feature automatic="unselected" name="UI"/>
	<feature automatic="unselected" name="Alert_UI"/>
	<feature automatic="unselected" name="Extended_UI"/>
	<feature name="Dark_theme"/>
	<feature automatic="unselected" name="Language"/>
	<feature automatic="unselected" name="English"/>
	<feature automatic="unselected" name="Dutch"/>
	<feature manual="selected" name="Server"/>
</configuration>
